p{text-indent: 20px; margin-left: 100px;}
.A1 {color: blue;}
.A1:visited {color: blueviolet;}
.A1:link { text-decoration: none;}
.A1:hover {
    text-decoration: underline;
    color: blueviolet;
}
a{
    color: whitesmoke;
    text-decoration: none;
}
IMG {
    transition-duration: 1s;
    height: 250px; width: 350px;
    border-radius: 5%;
}
IMG:hover {
    transition-duration: 2s;
    cursor: pointer;
    height: 350px; width: 500px;
}
.div1{
    width: calc(20% - 4px - 10px);
    color: whitesmoke;
    float: left;
    background-color: rgb(63, 110, 6);
    margin: 2px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
.div1 a{
    display: block;
    text-align: center;
    height: 100%;
    color: whitesmoke;
}
.div2{
    /* background-color: red; */
    display: block;
}
